@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --main-border-color: #5DADE2;
  }

#game {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

body {
    font-family: "lato";
}

.tile {
    font-family: "lato";
    width: 75px;
    height: 75px;
    background-color: Silver;
    border: solid 1px white;
    color: White;
}

.row {
    display: flex;
    flex-direction: row;
}

#game {
    display: grid;
    grid-template-columns: 60% 40%;
}

.charPos {
    border: solid 1px pink;
    background-color: #737CA1;
}

.messageLog {
    height: 100px;
    width: 700px;
    font-size: 50px;
    background-color: white;
    border: solid 3px grey;

}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 320px;

}

.wall {
    background-color: var(--main-border-color);
    color: var(--main-border-color);
    border: solid 1px silver;
}

#info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    justify-content: center;
    align-items: center;;
}

#playableInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#EditInfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#movementOptions {
    width: 100%;
    height: 150px;
    background-color: var(--main-border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.moveOption {
    font-family: "lato";
    border: solid 2px #737CA1;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: white;
}

.key {
    height: 50px;
    width: 50px;
    border: solid 2px black;
    background-color: white;
    font-size: 25px;
    ;
    color: black;
}

#upKey{
    grid-area: upKey;
}

#downKey{
    grid-area: downKey;
}
#leftKey{
    grid-area: leftKey;
}
#rightKey{
    grid-area: rightKey;
}
#keypad {
    display: grid;
    grid-template-areas: ". upKey ."
                        "leftKey downKey rightKey";
    column-gap: 0;
    row-gap: 0;
    width: 150px;
    margin: auto;
}

.pressed {
    background-color: black;
    color: white;
}

button{
    background-color: var(--main-border-color);
    color: white;
    height: 50px;
    border: solid 1px silver;
}
button:hover{
    border: solid 1px black;
    color: black;

}

#editMaze{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}